#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

h2 {
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
}

main {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 420px 1fr;
  padding: 0 2rem;
}

form {
  margin: 32px 0;
}

form input {
  margin-right: 0.8rem;
  outline: none;
  cursor: default;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li:hover {
  cursor: pointer;
}
